/*
COLORES BASE
002D72
F05D5E
F7DBA7
7CB4B8
53917E
*/

:root{
    --gradiente1: #002d72;
    --gradiente2: #53917E;

    --fondo-blanco: white;
    --fondo-negro: black;

    --fondo: rgb(176, 219, 67, 50%);
    --fondo-fuerte: rgb(176, 219, 67, 90%);

    --fondo2:#362417;
    --fondo2-sombra: rgb(54, 36, 23, 50%);

    --titulos: #9DACFF;

    --hover_fondo: #53917E;
    --hover_texto: white;

    --texto-primario: black;
    --texto-secundario: white;
    --texto-terciario: #b0db43;
}

.tecnologias{
    background-color: var(--fondo);
}

.tecnologias li, .tecnologias dt{
    width: 50px;
    height: 44px;

    margin: 10px;
}

/*  IMÁGENES SVG    */

.html{
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-html5" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="%23000000" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M20 4l-2 14.5l-6 2l-6 -2l-2 -14.5z" /><path d="M15.5 8h-7l.5 4h6l-.5 3.5l-2.5 .75l-2.5 -.75l-.1 -.5" /></svg>');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.css{
    
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-css3" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="%23000000" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M20 4l-2 14.5l-6 2l-6 -2l-2 -14.5z" /><path d="M8.5 8h7l-4.5 4h4l-.5 3.5l-2.5 .75l-2.5 -.75l-.1 -.5" /></svg>');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.javascript{
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-javascript" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="%23000000" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M20 4l-2 14.5l-6 2l-6 -2l-2 -14.5z" /><path d="M7.5 8h3v8l-2 -1" /><path d="M16.5 8h-2.5a.5 .5 0 0 0 -.5 .5v3a.5 .5 0 0 0 .5 .5h1.423a.5 .5 0 0 1 .495 .57l-.418 2.93l-2 .5" /></svg>');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.mysql{
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-mysql" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="%23000000" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M13 21c-1.427 -1.026 -3.59 -3.854 -4 -6c-.486 .77 -1.501 2 -2 2c-1.499 -.888 -.574 -3.973 0 -6c-1.596 -1.433 -2.468 -2.458 -2.5 -4c-3.35 -3.44 -.444 -5.27 2.5 -3h1c8.482 .5 6.421 8.07 9 11.5c2.295 .522 3.665 2.254 5 3.5c-2.086 -.2 -2.784 -.344 -3.5 0c.478 1.64 2.123 2.2 3.5 3" /><path d="M9 7h.01" /></svg>');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.golang{
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-golang" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="%23000000" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M15.695 14.305c1.061 1.06 2.953 .888 4.226 -.384c1.272 -1.273 1.444 -3.165 .384 -4.226c-1.061 -1.06 -2.953 -.888 -4.226 .384c-1.272 1.273 -1.444 3.165 -.384 4.226z" /><path d="M12.68 9.233c-1.084 -.497 -2.545 -.191 -3.591 .846c-1.284 1.273 -1.457 3.165 -.388 4.226c1.07 1.06 2.978 .888 4.261 -.384a3.669 3.669 0 0 0 1.038 -1.921h-2.427" /><path d="M5.5 15h-1.5" /><path d="M6 9h-2" /><path d="M5 12h-3" /></svg>');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.python{
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-python" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="%23000000" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 9h-7a2 2 0 0 0 -2 2v4a2 2 0 0 0 2 2h3" /><path d="M12 15h7a2 2 0 0 0 2 -2v-4a2 2 0 0 0 -2 -2h-3" /><path d="M8 9v-4a2 2 0 0 1 2 -2h4a2 2 0 0 1 2 2v5a2 2 0 0 1 -2 2h-4a2 2 0 0 0 -2 2v5a2 2 0 0 0 2 2h4a2 2 0 0 0 2 -2v-4" /><path d="M11 6l0 .01" /><path d="M13 18l0 .01" /></svg>');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.java{
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><!--! Font Awesome Free 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. --><path d="M277.74 312.9c9.8-6.7 23.4-12.5 23.4-12.5s-38.7 7-77.2 10.2c-47.1 3.9-97.7 4.7-123.1 1.3-60.1-8 33-30.1 33-30.1s-36.1-2.4-80.6 19c-52.5 25.4 130 37 224.5 12.1zm-85.4-32.1c-19-42.7-83.1-80.2 0-145.8C296 53.2 242.84 0 242.84 0c21.5 84.5-75.6 110.1-110.7 162.6-23.9 35.9 11.7 74.4 60.2 118.2zm114.6-176.2c.1 0-175.2 43.8-91.5 140.2 24.7 28.4-6.5 54-6.5 54s62.7-32.4 33.9-72.9c-26.9-37.8-47.5-56.6 64.1-121.3zm-6.1 270.5a12.19 12.19 0 0 1-2 2.6c128.3-33.7 81.1-118.9 19.8-97.3a17.33 17.33 0 0 0-8.2 6.3 70.45 70.45 0 0 1 11-3c31-6.5 75.5 41.5-20.6 91.4zM348 437.4s14.5 11.9-15.9 21.2c-57.9 17.5-240.8 22.8-291.6.7-18.3-7.9 16-19 26.8-21.3 11.2-2.4 17.7-2 17.7-2-20.3-14.3-131.3 28.1-56.4 40.2C232.84 509.4 401 461.3 348 437.4zM124.44 396c-78.7 22 47.9 67.4 148.1 24.5a185.89 185.89 0 0 1-28.2-13.8c-44.7 8.5-65.4 9.1-106 4.5-33.5-3.8-13.9-15.2-13.9-15.2zm179.8 97.2c-78.7 14.8-175.8 13.1-233.3 3.6 0-.1 11.8 9.7 72.4 13.6 92.2 5.9 233.8-3.3 237.1-46.9 0 0-6.4 16.5-76.2 29.7zM260.64 353c-59.2 11.4-93.5 11.1-136.8 6.6-33.5-3.5-11.6-19.7-11.6-19.7-86.8 28.8 48.2 61.4 169.5 25.9a60.37 60.37 0 0 1-21.1-12.8z"/></svg>');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: var(--texto-primario);
}

.bash{
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-terminal-2" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="%23000000" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M8 9l3 3l-3 3" /><path d="M13 15l3 0" /><path d="M3 4m0 2a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2z" /></svg>');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.azure{
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-azure" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="%23000000" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M6 7.5l-4 9.5h4l6 -15z" /><path d="M22 20l-7 -15l-3 7l4 5l-8 3z" /></svg>');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.github{
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-github" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="%23000000" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5" /></svg>');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.tailwind{
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-tailwind" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="%23000000" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M11.667 6c-2.49 0 -4.044 1.222 -4.667 3.667c.933 -1.223 2.023 -1.68 3.267 -1.375c.71 .174 1.217 .68 1.778 1.24c.916 .912 2 1.968 4.288 1.968c2.49 0 4.044 -1.222 4.667 -3.667c-.933 1.223 -2.023 1.68 -3.267 1.375c-.71 -.174 -1.217 -.68 -1.778 -1.24c-.916 -.912 -1.975 -1.968 -4.288 -1.968zm-4 6.5c-2.49 0 -4.044 1.222 -4.667 3.667c.933 -1.223 2.023 -1.68 3.267 -1.375c.71 .174 1.217 .68 1.778 1.24c.916 .912 1.975 1.968 4.288 1.968c2.49 0 4.044 -1.222 4.667 -3.667c-.933 1.223 -2.023 1.68 -3.267 1.375c-.71 -.174 -1.217 -.68 -1.778 -1.24c-.916 -.912 -1.975 -1.968 -4.288 -1.968z" /></svg>');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.linux{
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 496 512"><!--! Font Awesome Free 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. --><path d="M248 8C111 8 0 119 0 256s111 248 248 248 248-111 248-248S385 8 248 8zm52.7 93c8.8-15.2 28.3-20.5 43.5-11.7 15.3 8.8 20.5 28.3 11.7 43.6-8.8 15.2-28.3 20.5-43.5 11.7-15.3-8.9-20.5-28.4-11.7-43.6zM87.4 287.9c-17.6 0-31.9-14.3-31.9-31.9 0-17.6 14.3-31.9 31.9-31.9 17.6 0 31.9 14.3 31.9 31.9 0 17.6-14.3 31.9-31.9 31.9zm28.1 3.1c22.3-17.9 22.4-51.9 0-69.9 8.6-32.8 29.1-60.7 56.5-79.1l23.7 39.6c-51.5 36.3-51.5 112.5 0 148.8L172 370c-27.4-18.3-47.8-46.3-56.5-79zm228.7 131.7c-15.3 8.8-34.7 3.6-43.5-11.7-8.8-15.3-3.6-34.8 11.7-43.6 15.2-8.8 34.7-3.6 43.5 11.7 8.8 15.3 3.6 34.8-11.7 43.6zm.3-69.5c-26.7-10.3-56.1 6.6-60.5 35-5.2 1.4-48.9 14.3-96.7-9.4l22.5-40.3c57 26.5 123.4-11.7 128.9-74.4l46.1.7c-2.3 34.5-17.3 65.5-40.3 88.4zm-5.9-105.3c-5.4-62-71.3-101.2-128.9-74.4l-22.5-40.3c47.9-23.7 91.5-10.8 96.7-9.4 4.4 28.3 33.8 45.3 60.5 35 23.1 22.9 38 53.9 40.2 88.5l-46 .6z"/></svg>');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.windows{
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-windows" width="44" height="44" viewBox="0 0 24 24" stroke-width="1.5" stroke="%23000000" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M17.8 20l-12 -1.5c-1 -.1 -1.8 -.9 -1.8 -1.9v-9.2c0 -1 .8 -1.8 1.8 -1.9l12 -1.5c1.2 -.1 2.2 .8 2.2 1.9v12.1c0 1.2 -1.1 2.1 -2.2 1.9z" /><path d="M12 5l0 14" /><path d="M4 12l16 0" /></svg>');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

body{
    font-family:  'Sen', 'Avenir', 'VT323', 'Caveat';
    background: linear-gradient(45deg, var(--gradiente1), var(--gradiente2));
    color: var(--texto-secundario);
    height: 100%;
}

/*  TÍTULOS */

h1{
    font-size: 50px;
}

h3{
    font-size: 30px;
}

h1, h3{
    color: var(--texto-secundario);
}

ul, dl, dd, dt{
    list-style: none;

    padding: 0px;
    margin: 0px;
}

/*  LINKS   */

a{
    text-decoration: double;
    color: var(--texto-primario);
}

button{
    all: unset;
}

.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid{
    display: grid;
    justify-content: center;
    align-items: center;
}

/*  MENU DE NAVEGACIÓN  */

.nav-bar{
    border-radius: 25px;
    background: var(--fondo);
    overflow: hidden;

    grid-template-columns: 5% auto;
    justify-content: space-between;
    justify-items: center;

    padding: 5px;
    margin: 10px 0px 10px 0px;
}

.contenedor-logo{
    margin: 5px;
}

.logo-animado{
    width: 25px;
    height: auto;
    
    border-radius: 50px;
    border: 4px solid var(--texto-primario);
    
    color: var(--texto-primario);

    padding: 0.3rem;

    margin: 0px 10px 0px 10px;
    
    transition: all .5s ease;
}

.logo-animado:hover{
    background-color: var(--hover_fondo);
    padding: 10px;
}

.enlaces-menu{
    justify-content: space-between;
    
    padding: 15px;
    
    margin: 10px;
}

.enlace{
    border-radius: 25px;
    
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;

    margin: 5px;

    font-weight: bold;
    
    transition: all .5s ease;
}

.enlace:hover{
    color: var(--hover_texto);
    background: var(--hover_fondo);
}

/*  PRESENTACIÓN    */

.contenedor-presentacion{
    min-height: 100vh;
    height: 600px;
    border-radius: 25px 25px 0px 0px;

    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../img/fondos/Fondo.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;

    grid-template-columns: auto 45%;
    
    justify-content: space-evenly;
    align-items: normal;
    align-content: center;

    font-size: 20px;

    color: var(--texto-terciario);
    
    text-align: center;
    font-weight: bolder;
}

.perfil {
    flex-wrap: wrap;

    margin: 15px;

    text-align: justify;
}

.foto-perfil{
    width: 300px;
    height: auto;
    
    border: 10px solid rgb(255, 255, 0, 50%);
    border-radius: 200px
}

.nombre{
    text-transform: uppercase;
    color: var(--texto-secundario);
    font-size: 25px;
}

.carrera, .gustos{
    color: var(--texto-secundario);
    font-size: 23px;
}

.cv{
    font-size: 22px;

    margin: 10px 0px 10px 0px;
}

.btn{
    background-color: var(--fondo);
    border-radius: 25px;

    color: var(--texto-primario);

    padding: 10px;
}

/*  SOBRE MI    */

.que-hago{
    min-height: 100vh;
    height: auto;
    border-radius: 0px 0px 0px 0px;

    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../img/fondos/Fondo1.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;

    flex-direction: column;
    
    text-align: center;
    font-size: 20px;
    font-weight: bolder;

    color: var(--texto-terciario);

    padding: 10px 0px 10px 0px;
}

.content-que-hago{
    flex-direction: ;

    margin: 10px;
}

.actualidad{
    grid-template-columns: auto auto;

    justify-items: center;

    margin: 10px;
}

.derecha{
    grid-template-areas: 
        "a c"
        "b c";

    justify-items: end;
}

.derecha .item1, .derecha .item2{
    text-align: justify;
}

.izquierda{
    grid-template-areas: 
        "c a "
        "c b ";
    
    justify-items: start;
}

.izquierda .item1, .izquierda .item2{
    text-align: justify;
}

.item1{
    grid-area: a;
}

.item2{
    grid-area: b;
}

.item3{
    grid-area: c;
}

.img-contex{
    width: 280px;
    height: auto;
    overflow: hidden;

    border-radius: 25px;
    border: 10px solid rgb(255, 255, 0, 50%);
}

.imagen{
    width: 400px;
    height: auto;
}

.tt{
    margin: -170px -200px -90px -210px;
}

.puppy{
    margin: -10px -180px -40px -210px;
}

.img-contex figcaption{
    color: var(--texto-secundario);
    font-weight: bold;
}

.content-hobbies-futuro{
    grid-template-columns: 90%;

    margin: 25px 0px 25px 0px;
}

.extracurricular{
    grid-template-columns: auto auto auto;
}

.extracurricular p{
    margin: 10px;
    text-align: justify;
}

/*  MI EXPERIENCIA LABORAL  */

.mi-experiencia-laboral{
    height: auto;
    border-radius: 0px 0px 25px 25px;

    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../img/fondos/Fondo2.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;

    flex-direction: column;
    
    text-align: center;
    font-size: 20px;
    font-weight: bolder;

    padding: 10px 0px 10px 0px;
}

.experiencia-proyecto{
    width: 50%;

    background-color: var(--fondo2);

    border: solid 10px var(--fondo2-sombra);
    border-radius: 15px;

    grid-template-areas: 
        "a b"
        "c c";

    text-align: justify;

    margin: 10px;
}

.info-laboral{
    grid-area: a;
}

.tecnologias-laboral{
    grid-area: b;

    flex-direction: column;

    background-color: var(--fondo-blanco);
}

.descripcion-laboral{
    grid-area: c;
}

/*  MIS PROYECTOS   */


/*  FOOTER  */

.footer{
    width: auto;
    height: 100px;

    font-size: 14px;

    color: var(--texto-primario);

    background-color: var(--fondo);
    border-radius: 0px 0px 25px 25px;

    grid-template-columns: 34% 32% 34%;
    
    margin: 10px 0px 0px 0px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.contacto{
    grid-template-columns: 50% auto;

    justify-content: end;
}

.footer-derechos{
    color: var(--texto-primario);
    text-align: center;
}

.redes-sociales{
}

/*/


.progress {
    height: 35px;
    width: 100%;
    border: 1px solid #428bca;
    border-radius: 5px;
    background-color: #e6f3fa;
    margin-bottom: 15px;
}
 
.progress-bar {
    height: 100%;
    background: #428bca;
    display: flex;
    align-items: center;
    transition: width 0.25s;
    border-radius: 5px;
}
 
.progress-bar-text {
    margin-left: 10px;
    font-weight: bold;
    color: #cce7f5;
}